<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="showNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/destination-selection">{{
      "APP_COMPONENT.TITLE" | translate
    }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/record">{{
          "MENU.RECORD" | translate
        }}</a>

        <button
          class="nav-link"
          [class.active]="currentLang === 'es'"
          (click)="changeLanguage('es')"
        >
          Spanish
        </button>

        <!-- Botón para cambiar a alemán -->
        <button
          class="nav-link"
          [class.active]="currentLang === 'de'"
          (click)="changeLanguage('de')"
        >
          Alemán
        </button>
      </div>
    </div>
    <button (click)="logout()">{{ "APP_COMPONENT.EXIT" | translate }}</button>
  </div>
</nav>

<div class="animation-container">
  <img
    *ngFor="let plane of planes"
    [src]="getImagePath(plane)"
    [alt]="'Avión ' + plane"
    class="plane"
    [ngClass]="{
      visible: currentPlane === plane,
      hidden: currentPlane !== plane
    }"
  />
</div>

<router-outlet></router-outlet>
